<div class="edit-form-container">
    <h2>Editar Producto</h2>
    <form 
        [formGroup]="productForm" 
        class="edit-form"
        (ngSubmit)="onSubmit()"
    >
        <div class="edit-form__row">
            <app-form-input 
                formControlName="id" 
                name="product-id" 
                label="ID" 
                class="edit-form__input"
                placeholder="ID"
            />
            <app-form-input 
                formControlName="name" 
                name="product-name" 
                label="Nombre"
                class="edit-form__input"
                placeholder="Tarjeta de crédito"
            />
        </div>
        <div class="edit-form__row">
            <app-form-input
                formControlName="description" 
                name="product-description" 
                label="Descripción" 
                class="edit-form__input"
                placeholder="" 
            />
            <app-form-input 
                formControlName="logo" 
                name="product-logo" 
                label="Logo" 
                class="edit-form__input"
                placeholder=""
            />
        </div>
        <div class="edit-form__row">
            <app-form-input
                formControlName="releaseDate" 
                name="product-release-date" 
                label="Fecha de liberación" 
                type="date"
                class="edit-form__input"
                [minValue]="minDate"
            />
            <app-form-input
                formControlName="revisionDate" 
                name="product-restructuring-date" 
                label="Fecha de reestructuración" 
                type="date"
                class="edit-form__input"
            />
        </div>
        <div class="edit-form__actions">
            <app-button (click)="resetForm()" variant="secondary">Reiniciar</app-button>
            <app-button type="submit" [disabled]="productForm.invalid" variant="primary">Enviar</app-button>
        </div>
    </form>
    
</div>
