@if (isOpen()) {
<div class="modal-overlay" (click)="onOverlayClick($event)" (keydown)="onKeydown($event)" tabindex="0" role="dialog"
    aria-modal="true">
    <div class="modal-content" role="document">
        <div class="modal-body">
            <ng-content />
        </div>

        <div class="modal-footer">
            <button type="button" class="button close-button" (click)="close()">
                Cancelar
            </button>
            <button type="button" class="button success-button" (click)="onSuccess()">
                Confirmar
            </button>
        </div>

    </div>
</div>
}