@if (isOpen()) {
<div class="modal-overlay" (click)="onOverlayClick($event)" (keydown)="onKeydown($event)" tabindex="0" role="dialog"
    aria-modal="true">
    <div class="modal-content" role="document">
        <div class="modal-body">
            <ng-content />
        </div>

        <div class="modal-footer">
            <app-button type="button"  (click)="close()" variant="secondary">
                Cancelar
            </app-button>
            <app-button type="button" (click)="onSuccess()" variant="primary">
                Confirmar
            </app-button>
        </div>

    </div>
</div>
}