<div class="input-wrapper">
    @if(label()) {
        <label class="input-label" [htmlFor]="name()" [class.error]="hasErrors()">
            {{label()}}
        </label>
        
    }
    <input 
        #input
        class="text-input" 
        [id]="name()" 
        [type]="type()"
        [placeholder]="placeholder()"
        [disabled]="disabled()"
        [value]="value()"
        [class.error]="hasErrors()"
        [min]="minValue()"
        (input)="onInput($event)"
        (blur)="onBlur()"
    />

    @if(hasErrors()) {
        <div class="error">
            @for (errorMsg of errorMessages(); track $index) {
                <p>{{errorMsg}}</p>
            }
        </div>
    }
     
  

</div>