<tr class="skeleton-row">
    <td class="product-table-cell">
        <div class="skeleton skeleton-logo"></div>
    </td>
    <td class="product-table-cell">
        <div class="skeleton skeleton-text skeleton-text--medium"></div>
    </td>
    <td class="product-table-cell">
        <div class="skeleton skeleton-text skeleton-text--long"></div>
    </td>
    <td class="product-table-cell">
        <div class="skeleton skeleton-text skeleton-text--short"></div>
    </td>
    <td class="product-table-cell">
        <div class="skeleton skeleton-text skeleton-text--short"></div>
    </td>
    <td class="product-table-cell">
        <div class="skeleton skeleton-button"></div>
    </td>
</tr>